table{width: 100%;margin: 20px 0 50px 0;border-collapse: collapse;box-shadow: 6px 8px 16px rgba(201, 195, 162, 0.822);}
table th{background-color: #E6CCA1;padding: 20px 0px;}
table td{text-align: center;padding: 20px 0px;border-bottom:1px solid black ;}

/* td:nth-child(odd){
    background-color: rgb(230, 238, 243);
} */
tr:nth-child(even){
    background-color: rgba(230, 238, 243, 0.788);
}