<main>
    <h1>Dashboard</h1>
    <div class="orders">
        <div class="order" *ngFor='let item of orderData index as i'  >
            <h1>{{item.label}}</h1>
            <h3 class="{{item.class}}" >{{QRdata[i]}}</h3>
            <p>{{item.status}}</p>
          
        </div>
    </div>
 <h2>Statistic</h2>
        <div class="statistic">
            <div class="stocks">
                <h1 (click)='test()' >Stocks</h1>
            </div>
            <div class="stocks">
                <h1>Orders</h1>
            </div>
        </div>

<table>
    <tr>
       <th  >Sr. No.</th>
       <th>Phone Number</th>
       <th>No. Of Scans</th>
       <th>Shop</th>
       <th>Address</th>
       <th>Date & Time</th>
       <th>Scheme</th>
        
    </tr>
    
    <tr *ngFor="let item of data , index as i" >
        <td>{{i+1}}</td>
        <td>{{item.phoneNumber}}</td>
        <td>{{item.numberOfScan}}</td>
        <td>{{item.shop}}</td>
        <td>{{item.address}}</td>
        <td>{{item.createdAt}}</td>
        <td>{{item.scheme}}</td>
    </tr>

</table>

</main>
